.dark .dark\:block {display: block}
.dark .dark\:hidden {display: none}

.mt-8 {
    margin-top: 2rem;
}

code {
    font-size: .875rem;
}
code:not(.torchlight) {
    color: #28334D;
    background-color: #C8D3F5;
    padding: .15rem .5rem;
    border-radius: 0.25rem;
    word-break: break-word;
}

.dark code:not(.torchlight) {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, .075);
}

.card-copy {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.card-copy:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 37, 59, .8);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.card-copy:active:before {
    content: "copied" !important;
    background-color: rgb(120, 67,233);
}
@media (hover: hover) and (pointer: fine) {
    .card-copy:hover:before {
        content: "click to copy";
    }
}

.aspect-video {
    aspect-ratio: 16/9;
}

.col-list {
    columns: 10.8em 3;
    -moz-columns: 10.8em 3;
    -webkit-columns: 10.8em 3;
}

.torchlight.has-focus-lines .line:not(.line-focus) {
    transition: filter 0.35s, opacity 0.35s;
    filter: blur(.095rem);
    opacity: .65;
}
.torchlight.has-focus-lines:hover .line:not(.line-focus) {
    filter: blur(0px);
    opacity: 1;
}
.torchlight-copy {
    position: absolute;
    top: .5rem;
    right: .5rem;
    opacity: .25;
    color: #FFFFFF;
}
.torchlight-copy:hover {
    opacity: 1;
}
